//colors

$main-color : #451e3e ;
$text-color : #ddd;
$text-color-sub: #ccc;
$background-color:  #651e3e;
$header-color: #52003a;

//padding

$base-font : 1.6rem;
$base-font-medium : 1.8rem;
$base-font-small: 1.011rem;