.add-option {
  display: flex;
  padding : $base-font;
}

.add-option__input {
  flex-grow: 1;
  background: darken($header-color, 5%);
  border: none;
  border-bottom: .5px solid lighten(#ccc, 5%);
  margin-right: 1rem;
  color: #ccc;
  padding: .8rem;
}